:root {
	--light: #d0d0d0;
}

#root {
	position: relative;
	height: inherit;
	background-image: url('/chronology/bg.png');
	background-repeat: repeat; }

.ch-viewport {
	display: flex;
	flex-direction: column;
	position: relative;
	height: inherit;
	overflow: hidden; }
.ch-desk {
	position: relative;
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding: 4px; }
.ch-hint {
	position: absolute; }

.ch-desk--cards {
	display: flex;
	overflow-x: auto;
	margin: 0 auto; }
.ch-desk--cards .ch-desk--item {
	min-width: 240px;
	max-width: 240px; }
.ch-desk--cards .ch-desk--item .preview {
	min-height: 230px; }
.ch-desk--item {
	position: relative;
	background-color: var(--white);
	border: 1px solid var(--light);
	margin: 4px;
	border-radius: 10px;
	min-width: 0;
	/*flex-grow: 1;*/
	cursor: pointer; }
.ch-desk--item .content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end; }
.ch-desk--item .preview {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 80%; }
.ch-desk--item .desc {
	padding: 4px 10px; }
.ch-desk--item .title {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; }
.ch-desk--item .author {
	font-size: 12px;
	line-height: 1.1;
	margin-bottom: 4px;
	color: var(--dark);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; }
.ch-desk--item .year {
	font-weight: bold;
	text-align: center;
	position: relative; }
.ch-desk--item .year::before {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	left: 0;
	background-color: #d0d0d0; }
.ch-desk--item .year > span {
	position: relative;
	padding: 5px;
	background-color: var(--white); }
.ch-desk--item .prev--first {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%; }
.ch-desk--item .next {
	position: absolute;
	right: 50%;
	top: 0;
	height: 100%;
	width: calc(100% + 8px); }
.ch-desk--item .next--last {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%; }

.ch-desk--item .prev--first.mouse-over,
.ch-desk--item .next.mouse-over,
.ch-desk--item .next--last.mouse-over,
.ch-desk--item .prev--first:hover,
.ch-desk--item .next:hover,
.ch-desk--item .next--last:hover {
	background-color: rgba(0,0,0,0.05); }
.ch-desk--item .hint {
	display: none;
	position: absolute;
	bottom: 4px;
	font-weight: bold;
	color: var(--white);
	background-color: var(--primary);
	border-radius: 4px;
	padding: 0 6px; }
.ch-desk--item .hint--first { left: 4px; }
.ch-desk--item .hint--last { right: 4px; }
.ch-desk--item .hint--left { right: calc(50% + 10px); }
.ch-desk--item .hint--right { left: calc(50% + 8px); }
.ch-desk--item .hint--left:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 20px;
	right: -20px;
	top: 50%;
	background-color: var(--primary); }
.ch-desk--item .prev--first:hover .hint,
.ch-desk--item .next:hover .hint,
.ch-desk--item .next--last:hover .hint,
.ch-desk--item .prev--first.mouse-over .hint,
.ch-desk--item .next.mouse-over .hint,
.ch-desk--item .next--last.mouse-over .hint {
	display: block; }

.ch-side--cards {
	flex-grow: 1;
	padding: 0 4px;
	display: flex;
	flex-direction: column;
	justify-content: center; }
.ch-side--counters {
	display: flex; }
.ch-side--counters div {
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding: 4px; }
.ch-side--counters .counter--failed {
	color: var(--red); }
.ch-side--pack {
	position: relative;
	margin: 0 auto;
	padding: 4px;
	min-height: 250px; }
.ch-side--pack .preview {
	display: none; }
.ch-side--pack .ch-desk--item	{
	overflow: hidden; }
.ch-side--pack .ch-desk--item:hover {
	border-color: var(--red); }
.ch-side--pack .ch-desk--item.active {
	border-color: var(--primary); }
.ch-side--pack .ch-desk--item.active .desc {
	background-color: var(--primary); }
.ch-side--pack .ch-desk--item.active .desc .author,
.ch-side--pack .ch-desk--item.active .desc .title {
	color: var(--white);
 }

 .ch-hint.bs-popover-top .arrow,
 .ch-hint.bs-popover-bottom .arrow {
	left: 50%;
	margin-left: -0.5rem; }
 .ch-hint .arrow.arrow--left {
 	left: 20%; }
 .ch-hint .arrow.arrow--right {
 	left: 80%; }
.ch-hint--cards {
	left: 50%;
	top: auto;
	bottom: -10px;
	transform: translateX(-50%); }
.ch-hint--desk {
	top: 3%;
	left: 50%;
	transform: translateX(-50%); }

 .ch-result {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	text-align: center;
	width: 100%; }
 .ch-result .failed {
	color: var(--red); }

@media screen and (min-width: 900px) {
	.ch-desk--cards {
		padding-bottom: 10px; }
	.ch-side--pack {
		display: flex;
		justify-content: center;
		padding: 10px; }
	.ch-side--pack .preview {
		display: block;
		min-height: 200px; }
	.ch-side--counters div {
		font-size: 24px;
		padding: 6px; }
	.ch-side--pack .ch-desk--item {
		width: 200px; }
	.ch-hint--desk {
		top: 20%; }
}

/* Utils */
.border-r { border-right: 1px solid var(--light); }
.border-l { border-left: 1px solid var(--light); }
.border-t { border-top: 1px solid var(--light); }
.border-b { border-bottom: 1px solid var(--light); }

.bg-white { background-color: var(--white); }
